body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    text-align: center;
    margin-top: 20px; /* Adjust the margin-top as needed */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    background-color: antiquewhite;
    position: relative;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 15px;
    border-bottom: 1px solid #fff8c3;
}

.top-nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.top-nav ul li a {
    text-decoration: none;
    color: #ffffee;
    font-size: 15px;
}

.top-nav button {
    background: #e91e63;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.side-nav{
    position: fixed;
    background: #e91e63;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    max-width: 800px;
    padding: 20px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Style for each section */
.box {
    background-color: #fff8e1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
    cursor: pointer; 
}

.box:hover {
    transform: scale(1.1); /* Grow the box when hovered */
}

.expanded {
    transform: scale(1.1); 
    background-color: lightblue; 
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Style for each section */
.box {
    background-color: #fff8e1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
    cursor: pointer; 
}

.box:hover {
    transform: scale(1.1); /* Grow the box when hovered */
}

.expanded {
    transform: scale(1.1); 
    background-color: lightblue; 
}

footer {
    text-align: left;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    margin-top: auto;
}
