.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.experience-section, .projects-section, .about-section {
    background-color: #fff8e1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.box {
    background-color: #fff8e1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
}

.box:hover {
    transform: scale(1.1); /* Grow the box when hovered */
}

.projects-section ul {
    list-style: none;
}

.projects-section li:before {
    content: "\2192";
    display: inline-block;
    margin-right: 10px;
}
