body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    text-align: center;
    margin-top: 20px; /* Adjust the margin-top as needed */
    animation: moveUp 2s ease-in-out infinite alternate; /* Motion animation */
}


.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    max-width: 800px;
    padding: 20px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Style for each section */
.box {
    background-color: #fff8e1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
    cursor: pointer; 
}

.box:hover {
    transform: scale(1.1); /* Grow the box when hovered */
}

.expanded {
    transform: scale(1.1); 
    background-color: lightblue; 
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Style for each section */
.box {
    background-color: #fff8e1;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
    cursor: pointer; 
}

.box:hover {
    transform: scale(1.1); /* Grow the box when hovered */
}

.expanded {
    transform: scale(1.1); 
    background-color: lightblue; 
}

footer {
    text-align: left;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    margin-top: auto;
}
